.accordion{
    width: 90% !important;
    margin: 0 auto;
    padding: 1em 2em !important;
    background: #FFFFFF;
    border: 1px solid #E4E4E5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.acc-title{
    font-family: Lato;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 1.4em !important;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-text{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #454545;
}

.btn-text.clicked{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
}

.day-btn{
    border: 1px solid #D4D4D5 !important;
    box-sizing: border-box !important;
    border-radius: 1.8em !important;
    font-family: Lato !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 0.8em !important;
    line-height: 1em !important;
    text-align: center !important;
}

.standard-btn{
    background: #FFFFFF !important;
    color: #454545 !important;
}
.btn-grp1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    
}
.btn-grp2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.8rem;
    align-items: center;
}
.filter-txt{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.2em;
    color: #454545;
    margin-right: 0.8rem;
}

.filter-btn{
    box-sizing: border-box !important;
    border-radius: 6px !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 0.8em !important;
    text-align: center !important;
    padding: 1em !important;
}

.basic-standard-btn{
    background: #FFFFFF !important;
    color: #454545 !important;
}
.user-card{
    height: 12em !important;
    width: 9em !important;
    margin-right: 0.8rem !important;
    margin-top: 3px !important;
}
.user-card-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.user-card2{
    height: 7em !important;
    width: 5.5em !important;
    margin: 0px 4px 0.4em 0.4em !important;
    border-radius: 4px;
}
.user-card2-div{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.card-font{
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 0.8em !important;
    line-height: 1em !important;
    text-align: center;
    color: #000000 !important;
}
.card-font2{
    font-family: Lato !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 6px !important;
    line-height: 7px !important;
    text-align: center;
    color: #000000 !important;
}

.container {
    padding: 40px;
    background: #419be0 !important;
  }


.btn-grp3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accordion2{
    width: 90% !important;
    padding: 5px !important;
    margin: 0 auto !important;
    background: #FFFFFF;
    border: 1px solid #E4E4E5;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background: #FFFFFF !important;
    width: 33% !important;
    height: 2.5em;
    box-sizing: border-box !important;
    border-top: 0.2px solid #E7E7E7;
    border-bottom: 0.2px solid #E7E7E7;
    
}
.day-btn2{
    background: #FFFFFF !important;
    width: 100% !important;
    height: 100%;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 0.7em !important;
    text-align: center !important;
    bottom: 0px !important;
    padding: 0px !important;
}
.day-btn2.clicked{
    background: #FFFFFF !important;
    color : #4d4b4b  !important;
    border-bottom: 1px solid #4d4b4b !important;
    border-radius: 0px;
    padding: 0px !important;
}
.acc-title2{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 1em !important;
    line-height: 1em;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn-grp4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
    align-items: center;
    
}
.filter-btn2{
    box-sizing: border-box !important;
    border-radius: 1.2em !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 550 !important;
    font-size: 0.6em !important;
    line-height: 1.5em !important;
    text-align: center !important;
    padding: 0.5em !important;
    
}
.filter-btn2.clicked{
    border: 1px solid !important;
    box-sizing: border-box !important;
    border-radius: 1.2em !important;
    font-family: Lato !important;
    font-style: normal !important;
    font-weight: 550 !important;
    font-size: 0.6em !important;
    line-height: 1.5em !important;
    text-align: center !important;   
}
.basic-standard-btn2{
    background: #FFFFFF !important;
    color: #454545 !important;
}

.show{
    display: flex;
    font-family: Lato;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 0.5em !important;
    line-height: 0.7em;
    color: #000000 !important;
    background: #FFFFFF !important;
    border: 1px solid #D4D4D5 !important;
    box-sizing: border-box;
    border-radius: 1.5em !important;
    width: 25em;
}

.remark{
    font-family: Lato;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 1.2rem !important;
    line-height: 2rem;
    color: #999999;
    text-align: left;
    margin-left: 0.5rem;
}
.remark2{
    font-family: Lato;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 0.8em !important;
    line-height: 2em;
    color: #999999;
    text-align: left;
    margin-left: 0.5rem;
}
.carousel{
    width: 100% !important;
}
